doctype html
html
  head
    meta(charset='utf-8')
    title rblg
    link(href='//yui.yahooapis.com/pure/0.6.0/pure-min.css', rel='stylesheet', type='text/css')
    link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css', rel='stylesheet', type='text/css')
  body
    #Rblg
    script(id='firebaseUrl', type='text/plain', data-url='#{firebaseUrl}')
    script(src='/assets/index.js', type='text/javascript')
